
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    min-height: 100svh;
    background: hsl(0, 0%, 100%);
    font-family: "DM Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 40px;
}

.grid_container{
    display: grid;
    grid-template-rows: repeat(10, .6fr);
    grid-template-columns: repeat(4, .8fr);
    grid-template-areas: 
    "one      two       two       three"
    "one      two       two       three"
    "one      two       two       three"
    "one      two       two       three"
    "one      five      six       three"
    "four     five      six       three"
    "four     five      six       three"
    "four     seven     eight    eight"
    "four     seven     eight    eight"
    "four     seven     eight    eight";
    justify-content: center;
    align-items: start;
    padding: 20px 30px 20px 30px;
    gap: 20px;
    width: 90%;
    height: 70%;
}

.grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.one {
    grid-area: one;
    font-size: 18px;
    font-weight: lighter;
    background-color: hsl(31, 66%, 93%);
    height: 380px;
    span {
        color:  hsl(256, 67%, 59%);
    }

    img{margin-top: 30px;}
}

.two{
    background: hsl(256, 67%, 59%);
    font-size: 20px;
    grid-area: two;
    color: hsl(0, 0%, 100%);
    height: 300px;
    span{
        color: hsl(39, 100%, 71%);
    }
    p{
        font-weight: lighter;
        font-size: .8em;
    } 
    img{
        width: 30%;
    }

}

.three{
    background: hsl(254, 88%, 90%);
    grid-area: three;
    gap: 20px;
    padding: 50px 20px 40px 50px;
    align-items: flex-start;
    height: 450px;
    overflow: hidden;
    
    
    img{

        margin-left: 10px;
        width: 600px;
        height: 250px;
    }
    p{
        font-size: 16px;
        line-height: 20px;
        font-weight: bolder;
    }
}

.four{
    background-color: hsl(39, 100%, 71%);
    grid-area: four;
    font-size: 1.2rem;
    padding: 10px;
    height: 330px;
    img{
        width: 170px;
        margin-top: 30px;
    }
}

.five{
    grid-area: five;
    background: hsl(31, 66%, 93%);
    height: 220px;
    padding-left: 20px;
    font-size: 1rem;
    gap: 10px;
}

.six{
    position: relative;
    grid-area: six;
    background: hsl(39, 100%, 71%);
    height: 210px;
    font-size: 1rem;
    padding: 5px;
    justify-content: flex-start;
    overflow: hidden;
   
    
    img{
        position: absolute;
        width: 200px;
        margin-top: 110px;
    }
    
}

.seven{
    grid-area: seven;
    background: hsl(31, 66%, 93%);
    height: 190px;
    gap: 10px;
    h1{
        font-size: 3rem;
    }
    img{
        width: 70%;
    }
}

.eight{
    grid-area: eight;
    flex-direction: row;
    padding: 10px 50px 10px 40px;
    justify-content: space-between;
    background: hsl(256, 67%, 59%);
    color: white;
    height: 190px;
    gap: 20px;
    img{
        width: 200px;
    }
}

.text{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.attribution{
    display: flex;
    font-size: 11px; 
    color: hsl(228, 45%, 44%);
}


@media (max-width:1024px) {
    h1,h2{
        font-size: 1.2em;
    }
    img{
        width: 70%;
    }

    .six{
        img{
            width: 70%;
            margin-top: 140px;
        }
    }
    .seven{
        padding-left: 5px;
        padding-right: 5px;
        h1{
            font-size: 2em;
        }
        p{
            font-size: 16px;
        }
        
    }
}

@media (max-width:880px) {
    .grid_container{
        grid-template-columns: repeat(1, .6fr);
        grid-template-rows: repeat(14, .3fr);
        grid-template-areas: 
        "two  "
        "two  "
        "five "
        "six  "
        "three "
        "three "
        "three "
        "eight "
        "eight "
        "seven "
        "one "
        "one "
        "four "
        "four "
                                 ;
                               
    }

    .three{
        padding-left: 10px;
        padding-right: 10px;
        img{
            margin-left: 0px;
            width: 100%;
        }
    }
    .six{
        min-width: max-content;
        img{
            margin-left: 0px;
            margin-top: 100px;
        }
    }
    .eight{
        padding-top: 10px;
        flex-direction: column;
        justify-content: flex-start;
        font-size: .8em;
        img{
            height: 60%;
            width: 90%;
        }
    }

    .text{
        min-width: 300px;
    }

}